<aside class="main-sidebar social-sidebar soc-aside-right" id="main-aside-right">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-flat pt-1 px-2">
                <li><button class="btn btn-primary btn-block">Đăng bài chi sẻ</button></li>
                <li class="mt-2">
                    <div class="ranking-bar">
                        <tabset>
                            <tab heading="TOP Top sao nhiều" class="bg-white">1</tab>
                            <tab heading="TOP Bài nhiều" class="bg-white">2</tab>
                        </tabset>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</aside>