<aside class="main-sidebar social-sidebar" id="main-aside">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-flat social-ul">
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav active">
                        <i class="nav-icon {{selectedIcon}}"></i>
                        <p>
                            {{selectedName}}
                        </p>
                    </a>
                </li>
                <li class="nav-item social-nav-li">
                    <div class="" style="height: 5px;">
                    </div>
                </li>
                <div class="bg-light-pink">
                    <li class="nav-item social-special-topics">
                        <div class="nav-link social-nav text-center">
                            Chủ đề nổi bật
                        </div>
                    </li>
                    <div class="spec-container">
                        <li class="nav-item social-nav-li" *ngFor="let pc of postCategories">
                            <a class="nav-link social-nav special-nav-soc" [routerLink]="['specified',pc.slug]"
                               [routerLinkActive]="['d-none']" (click)="changeMenuSelected(pc.name,'fa fa-star')">
                                <i class="nav-icon fa fa-chevron-right"></i>
                                <p>
                                    {{pc.name}}
                                </p>
                            </a>
                        </li>

                    </div>
                </div>
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" routerLink="new-feeds" [routerLinkActive]="['d-none']"
                       (click)="changeMenuSelected('Trang chủ','fas fa-home')">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" [routerLink]="['recommend-places']" [routerLinkActive]="['d-none']"
                       (click)="changeMenuSelected('Địa điểm gợi ý','fa fa-map')">
                        <i class="nav-icon fa fa-map"></i>
                        <p>
                            Địa điểm gợi ý
                        </p>
                    </a>
                </li>
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" [routerLink]="['favorites']" [routerLinkActive]="['d-none']"
                       (click)="changeMenuSelected('Người đã theo dõi','fa fa-rss')">
                        <i class="nav-icon fa fa-rss"></i>
                        <p>
                            Người đã theo dõi
                        </p>
                    </a>
                </li>
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" [routerLink]="['sticky-posts']" [routerLinkActive]="['d-none']"
                       (click)="changeMenuSelected('Bài viết đã thích','fa fa-heart')">
                        <i class="nav-icon fa fa fa-heart"></i>
                        <p>
                            Bài viết đã thích
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
