<aside class="main-sidebar social-sidebar" id="main-aside">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-flat social-ul">
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" [routerLink]="['/']" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                <li class="nav-item social-nav-li">
                    <div class="" style="height: 5px;">

                    </div>
                </li>
                <div class="bg-light-pink" style="margin-right: 18px;">
                    <li class="nav-item social-special-topics">
                        <div class="nav-link social-nav text-center">
                            Chủ đề nổi bật
                        </div>
                    </li>
                    <div class="spec-container" style="height: 156px; overflow-y: scroll;">
                        <li class="nav-item social-nav-li">
                            <a class="nav-link social-nav special-nav-soc" [routerLink]="['/']">
                                <i class="nav-icon fa fa-chevron-right"></i>
                                <p>
                                    Tất cả
                                </p>
                            </a>
                        </li>
                        <li class="nav-item social-nav-li">
                            <a class="nav-link social-nav special-nav-soc" [routerLink]="['/']">
                                <i class="nav-icon fa fa-chevron-right"></i>
                                <p>
                                    Tên chủ đề
                                </p>
                            </a>
                        </li>
                        <li class="nav-item social-nav-li">
                            <a class="nav-link social-nav special-nav-soc" [routerLink]="['/']">
                                <i class="nav-icon fa fa-chevron-right"></i>
                                <p>
                                    Tên chủ đề
                                </p>
                            </a>
                        </li>
                        <li class="nav-item social-nav-li">
                            <a class="nav-link social-nav special-nav-soc" [routerLink]="['/']">
                                <i class="nav-icon fa fa-chevron-right"></i>
                                <p>
                                    Tên chủ đề
                                </p>
                            </a>
                        </li>
                        <li class="nav-item social-nav-li">
                            <a class="nav-link social-nav special-nav-soc" [routerLink]="['/']">
                                <i class="nav-icon fa fa-chevron-right"></i>
                                <p>
                                    Tên chủ đề
                                </p>
                            </a>
                        </li>
                        <li class="nav-item social-nav-li">
                            <a class="nav-link social-nav special-nav-soc" [routerLink]="['/']">
                                <i class="nav-icon fa fa-chevron-right"></i>
                                <p>
                                    Tên chủ đề
                                </p>
                            </a>
                        </li>
                        <li class="nav-item social-nav-li">
                            <a class="nav-link social-nav special-nav-soc" [routerLink]="['/']">
                                <i class="nav-icon fa fa-arrows-alt"></i>
                                <p>
                                    Xem thêm chủ đề
                                </p>
                            </a>
                        </li>
                    </div>
                </div>
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" [routerLink]="['/']">
                        <i class="nav-icon fa fa-cubes"></i>
                        <p>
                            Bảng xếp hạng
                        </p>
                    </a>
                </li>
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" [routerLink]="['/']">
                        <i class="nav-icon fa fa-map"></i>
                        <p>
                            Địa điểm
                        </p>
                    </a>
                </li>
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" [routerLink]="['/']">
                        <i class="nav-icon fa fa-heart"></i>
                        <p>
                            Yêu thích
                        </p>
                    </a>
                </li>
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" [routerLink]="['/']">
                        <i class="nav-icon fa fa-bookmark"></i>
                        <p>
                            Bài viết đã lưu
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>