<aside class="main-sidebar social-sidebar" id="main-aside">
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-flat" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item social-nav-li">
                    <a class="nav-link social-nav" [routerLink]="['/']" [routerLinkActive]="['active']">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>