<abp-modal-header [title]="'Thông tin hồ sơ'" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
<div class="modal-body" *ngIf="currentUser">
    <div class="row">
        <div class="col-12">
            <div class="basic-info text-center">
                <img [src]="standardImg(currentUser.photo)" class="modal-avatar border-primary"/>
                <div class="mt-2"><span class="font-weight-bold">{{currentUser.fullName}}</span>, <span
                        class="font-italic">{{getGender()}} - {{calAge()}}</span></div>
                <div class="font-italic">({{currentUser.emailAddress}})</div>
            </div>
            <div class="border border-info mt-4">
                <div class="font-italic text-danger p-4 text-center" *ngIf="!currentUser.biography">Người dùng chưa cung
                    cấp tiểu sử cá
                    nhân
                </div>
                <p [innerHTML]="currentUser.biography" *ngIf="!currentUser.biography"></p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-default shadown px-4"
            (click)="bsModalRef.hide()">
        Đóng
    </button>
</div>
