<form class="form-horizontal" autocomplete="off" #createPostCategory="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewRole' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
                {{ "Name" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required minlength="2" maxlength="32"
                    (ngModelChange)="autoSlug()" (change)="autoSlug()" [(ngModel)]="postCategory.name"
                    #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="slug">
                {{ "Slug" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="slug" id="slug" required minlength="2" maxlength="32"
                    [(ngModel)]="postCategory.slug" #slugModel="ngModel" #slugEl />
                <abp-validation-summary [control]="slugModel" [controlEl]="slugEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label" for="description">
                {{ "PostCategoryDescription" | localize }}
            </label>
            <div class="col-md-9">
                <textarea type="text" class="form-control" name="description" id="description"
                    [(ngModel)]="postCategory.description">
                    </textarea>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createPostCategory.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>